In [240]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [241]:
data = pd.read_csv('../data/raw/tayaratn_data.csv')

In [242]:
data.columns

Index(['title', 'price', 'type', 'transaction_type', 'surface', 'bathrooms',
       'rooms', 'options', 'description', 'location', 'date_posted',
       'image_url', 'agency', 'url', 'scrape_date'],
      dtype='object')

In [243]:
data.drop(columns=['type'], inplace=True)
data.columns

Index(['title', 'price', 'transaction_type', 'surface', 'bathrooms', 'rooms',
       'options', 'description', 'location', 'date_posted', 'image_url',
       'agency', 'url', 'scrape_date'],
      dtype='object')

In [244]:
# Renommage des colonnes
newCols = {
    'surface': 'size',
    'bathrooms': 'bathroom_count',
    'rooms': 'room_count',
    'transaction_type': 'type',
    'date_posted': 'date'
}
data.rename(columns=newCols, inplace=True)

# Data Cleaning

In [245]:
def getByCategory(df, category):
    if 'category' in df.columns:
        rows = df.category.isin(category)
    else:
        rows = df.title.str.contains('|'.join(category), case=False, na=False)
    return (df[rows], rows)

def printInfo(df):
    print(df.info())
    print(df.describe())
    print(df.head())

In [246]:
# Cr√©ation d'une colonne category bas√©e sur l'URL
data['category'] = data['url'].apply(lambda x: x.split('/')[4] if isinstance(x, str) else 'Autre')

In [247]:
# Mapping des cat√©gories
category_mapping = {
    'appartements': 'Appartements',
    'locations-de-vacances': 'Locations de vacances',
    'colocations': 'Colocations',
    'maisons-et-villas': 'Maisons et Villas',
    'terrains-et-fermes': 'Terrains et Fermes',
    'magasins-commerces-et-locaux-industriels': 'Magasins, Commerces et Locaux industriels',
    'bureaux-et-plateaux': 'Bureaux et Plateaux'
}

data['category'] = data['category'].map(category_mapping).fillna('Autre Immobilier')

In [248]:
data['category'].value_counts()

category
Appartements             4044
Maisons et Villas        1980
Terrains et Fermes       1592
Autre Immobilier          968
Bureaux et Plateaux       897
Locations de vacances     195
Colocations                41
Name: count, dtype: int64

In [249]:
# Nettoyage par cat√©gorie : Appartements
rows, cats = getByCategory(data, ['Appartements', 'Locations de vacances', 'Colocations'])

printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Index: 4280 entries, 0 to 9508
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           4280 non-null   object
 1   price           3904 non-null   float64
 2   type            4245 non-null   object
 3   size            3969 non-null   float64
 4   bathroom_count  3977 non-null   float64
 5   room_count      4126 non-null   float64
 6   options         4280 non-null   object
 7   description     4277 non-null   object
 8   location        4280 non-null   object
 9   date            3219 non-null   object
 10  image_url       4280 non-null   object
 11  agency          2521 non-null   object
 12  url             4280 non-null   object
 13  scrape_date     4280 non-null   object
 14  category        4280 non-null   object
dtypes: float64(4), object(11)
memory usage: 535.0+ KB
None
              price          size  bathroom_count    room_count
count  3.904000e+03  3.969000e+03    3.977000e+03   4126.000000
mean   2.317471e+05  6.021340e+03    1.376185e+03     15.625061
std    3.432075e+06  3.618966e+05    8.668182e+04    846.167553
min    3.000000e+00  0.000000e+00    0.000000e+00      1.000000
25%    9.000000e+02  7.000000e+01    1.000000e+00      1.000000
50%    1.589500e+03  1.000000e+02    1.000000e+00      2.000000
75%    2.172500e+05  1.250000e+02    2.000000e+00      3.000000
max    1.500000e+08  2.279513e+07    5.466457e+06  54345.000000
                                               title     price      type  \
0            üìçMENZAH 9 C  : APPARTEMENT S+2  √Ä LOUER    1400.0   √Ä Louer
1                      A vendre un S+3 √† cit√© essaha  180000.0  √Ä Vendre
2  üìç ENNASR 1 ‚Äì APPARTEMENT S+4 TRANSFORM√â EN S+3...  430000.0  √Ä Vendre
4                         A vendre Triplex la soukra       NaN  √Ä Vendre
9                                appartement √† louer    1700.0   √Ä Louer

    size  bathroom_count  room_count options  \
0    NaN             2.0         2.0      []
1  121.0             1.0         3.0      []
2  145.0             2.0         4.0      []
4  289.0             3.0         4.0      []
9   90.0             1.0         2.0      []

                                         description location date  \
0  L‚Äôagence #MON_RESEAU met √† la location  un app...    Tunis  NaN
1  IB-4400\noffre valable jusqu'au 31 D√©cembre.\n...   Ariana  NaN
2  L‚Äôagence MON_R√àSEAU IMMOBILIER vous propose √† ...   Ariana  NaN
4  üííGest-Immo Logistique se propose de vendre Tri...   Ariana  NaN
9  REMAX masters vous propose un appartement rich...   Sousse  NaN

                                           image_url                  agency  \
0  https://www.tayara.tn/mediaGateway/resize-imag...                     NaN
1  https://www.tayara.tn/mediaGateway/resize-imag...  first home real estate
2  https://www.tayara.tn/mediaGateway/resize-imag...                     NaN
4  https://www.tayara.tn/mediaGateway/resize-imag...    gest immo logistique
9  https://www.tayara.tn/mediaGateway/resize-imag...           remax masters

                                                 url scrape_date      category
0  https://www.tayara.tn/item/appartements/tunis/...  2025-11-25  Appartements
1  https://www.tayara.tn/item/appartements/ariana...  2025-11-25  Appartements
2  https://www.tayara.tn/item/appartements/ariana...  2025-11-25  Appartements
4  https://www.tayara.tn/item/appartements/ariana...  2025-11-25  Appartements
9  https://www.tayara.tn/item/appartements/sousse...  2025-11-25  Appartements

In [250]:
rooms = data.room_count.between(1,20)
bathrooms = data.bathroom_count.between(1,15)
size = data['size'].between(70,2000)

In [251]:
# Garder uniquement les lignes valides (m√©thode inverse)
dropped = data[(cats & ~(rooms & bathrooms & size))]
data.drop(dropped.index,inplace=True)
data.reset_index(drop=True, inplace=True)

In [252]:
# Nettoyage par cat√©gorie : Maisons et Villas

rows, cat = getByCategory(data, ['Maisons et Villas'])

printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Index: 1980 entries, 26 to 8113
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1980 non-null   object
 1   price           1665 non-null   float64
 2   type            1951 non-null   object
 3   size            1856 non-null   float64
 4   bathroom_count  1801 non-null   float64
 5   room_count      1868 non-null   float64
 6   options         1980 non-null   object
 7   description     1973 non-null   object
 8   location        1980 non-null   object
 9   date            1525 non-null   object
 10  image_url       1980 non-null   object
 11  agency          1069 non-null   object
 12  url             1980 non-null   object
 13  scrape_date     1980 non-null   object
 14  category        1980 non-null   object
dtypes: float64(4), object(11)
memory usage: 247.5+ KB
None
              price          size  bathroom_count   room_count
count  1.665000e+03  1.856000e+03    1.801000e+03  1868.000000
mean   8.525770e+06  2.056593e+05    8.092138e+02     5.125803
std    1.050984e+08  6.451431e+06    3.416727e+04    50.945992
min    1.200000e+00  0.000000e+00    0.000000e+00     0.000000
25%    1.250000e+03  1.325000e+02    1.000000e+00     3.000000
50%    1.800000e+05  2.400000e+02    2.000000e+00     3.000000
75%    5.800000e+05  4.200000e+02    3.000000e+00     5.000000
max    2.100000e+09  2.600000e+08    1.450000e+06  2200.000000
                                                title     price      type  \
26  Une villa ind√©pendante s+4 avec un studio,  ja...    2000.0   √Ä Louer
59                Villa  de Plain-Pied √†  Khezema EST  840000.0  √Ä Vendre
74                            Villa √† vendre Fouchana       NaN  √Ä Vendre
75                                    maison √† vendre       NaN  √Ä Vendre
80  √Ä louer √©tage de villa meubl√© S3 √† Mutuelle ville    2800.0   √Ä Louer

     size  bathroom_count  room_count options  \
26  250.0             4.0         4.0      []
59  519.0             3.0         4.0      []
74  311.0             2.0         5.0      []
75    NaN             2.0         3.0      []
80  150.0             3.0         3.0      []

                                          description   location        date  \
26  #location #villa #ind√©pendante #bili #immobili...     Sousse  2025-11-25
59  ‚úÖAttestation de propri√©t√© individuel \n‚úÖvilla ...     Sousse  2025-11-25
74  je mets en vente une villa d'une superficie de...  Ben Arous  2025-11-25
75  √† vendre maison ind√©pendante sur 2 niveaux √† c...      Tunis  2025-11-25
80  La Maison de l‚ÄôImmobilier vous propose √† la lo...      tunis         NaN

                                            image_url                  agency  \
26  https://www.tayara.tn/mediaGateway/resize-imag...               bili immo
59  https://www.tayara.tn/mediaGateway/resize-imag...                 new way
74  https://www.tayara.tn/mediaGateway/resize-imag...                     NaN
75  https://www.tayara.tn/mediaGateway/resize-imag...                     NaN
80  https://www.tayara.tn/mediaGateway/resize-imag...  maison de l'immobilier

                                                  url scrape_date  \
26  https://www.tayara.tn/item/maisons-et-villas/s...  2025-11-25
59  https://www.tayara.tn/item/maisons-et-villas/s...  2025-11-25
74  https://www.tayara.tn/item/maisons-et-villas/b...  2025-11-25
75  https://www.tayara.tn/item/maisons-et-villas/t...  2025-11-25
80  https://www.tayara.tn/item/maisons-et-villas/t...  2025-11-25

             category
26  Maisons et Villas
59  Maisons et Villas
74  Maisons et Villas
75  Maisons et Villas
80  Maisons et Villas

In [253]:
rooms = data.room_count.between(1, 20)
bathrooms = data.bathroom_count.between(1, 15)
size = data['size'].between(70, 2000)

In [254]:
dropped = data[(cat & ~(rooms & bathrooms & size))]
data.drop(dropped.index,inplace=True)
data.reset_index(drop=True, inplace=True)

In [255]:
# Nettoyage par cat√©gorie : Terrains et Fermes

rows, cat = getByCategory(data, ['Terrains et Fermes'])

printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Index: 1592 entries, 2 to 7673
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1592 non-null   object
 1   price           1302 non-null   float64
 2   type            0 non-null      object
 3   size            0 non-null      float64
 4   bathroom_count  0 non-null      float64
 5   room_count      0 non-null      float64
 6   options         1592 non-null   object
 7   description     1591 non-null   object
 8   location        1592 non-null   object
 9   date            1236 non-null   object
 10  image_url       1592 non-null   object
 11  agency          722 non-null    object
 12  url             1592 non-null   object
 13  scrape_date     1592 non-null   object
 14  category        1592 non-null   object
dtypes: float64(4), object(11)
memory usage: 199.0+ KB
None
              price  size  bathroom_count  room_count
count  1.302000e+03   0.0             0.0         0.0
mean   5.115182e+06   NaN             NaN         NaN
std    7.329317e+07   NaN             NaN         NaN
min    2.000000e+00   NaN             NaN         NaN
25%    7.500000e+02   NaN             NaN         NaN
50%    1.160000e+05   NaN             NaN         NaN
75%    3.200000e+05   NaN             NaN         NaN
max    1.600000e+09   NaN             NaN         NaN
                                                title     price type  size  \
2                   Terrain √† vendre - Mahdia Tunisie  450000.0  NaN   NaN
5                                    terrain a vendre  690000.0  NaN   NaN
6   Terrain √† vendre - kantaoui  sousse au bord de...  790000.0  NaN   NaN
12                    Terrains d‚Äôhabitation √† Kelibia   75000.0  NaN   NaN
55  Terrain Agricole √† Sidi Bouali  pr√®s de l'auto...  270000.0  NaN   NaN

    bathroom_count  room_count options  \
2              NaN         NaN      []
5              NaN         NaN      []
6              NaN         NaN      []
12             NaN         NaN      []
55             NaN         NaN      []

                                          description location        date  \
2   Une opportunit√© id√©ale \n\nTerrain exceptionne...   Mahdia         NaN
5   REMAX masters propose 1 lot de terrain excepti...   Sousse         NaN
6   Agence  immobili√®re STARS REAL ESTATE \nvous p...   Sousse         NaN
12  A vendre Terrain d‚Äôhabitation √† Kelibia situ√© ...   Nabeul         NaN
55  ‚úÖAttestation de propri√©t√© individuel.\n‚úÖTerrai...   Sousse  2025-11-25

                                            image_url             agency  \
2   https://www.tayara.tn/mediaGateway/resize-imag...      remax masters
5   https://www.tayara.tn/mediaGateway/resize-imag...      remax masters
6   https://www.tayara.tn/mediaGateway/resize-imag...      remax masters
12  https://www.tayara.tn/mediaGateway/resize-imag...  agence aspis immo
55  https://www.tayara.tn/mediaGateway/resize-imag...            new way

                                                  url scrape_date  \
2   https://www.tayara.tn/item/terrains-et-fermes/...  2025-11-25
5   https://www.tayara.tn/item/terrains-et-fermes/...  2025-11-25
6   https://www.tayara.tn/item/terrains-et-fermes/...  2025-11-25
12  https://www.tayara.tn/item/terrains-et-fermes/...  2025-11-25
55  https://www.tayara.tn/item/terrains-et-fermes/...  2025-11-25

              category
2   Terrains et Fermes
5   Terrains et Fermes
6   Terrains et Fermes
12  Terrains et Fermes
55  Terrains et Fermes

In [256]:
# Pour les terrains, les champs room_count, bathroom_count, size ne sont pas applicables
data.loc[cat, ['room_count', 'bathroom_count', 'size']] = -1

# D√©finir le type par d√©faut
data.loc[cat, 'type'] = '√Ä Vendre'

In [257]:
data['type'].value_counts()

type
√Ä Vendre    4376
√Ä Louer     3275
sale           2
rent           1
Name: count, dtype: int64

In [258]:
data.loc[data['type'] != '√Ä Louer', 'type'] = '√Ä Vendre'

In [259]:
# Nettoyage par cat√©gorie : Bureaux et Locaux

rows, cats = getByCategory(data, ['Magasins, Commerces et Locaux industriels', 'Bureaux et Plateaux'])

printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 4 to 7674
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           897 non-null    object
 1   price           840 non-null    float64
 2   type            897 non-null    object
 3   size            876 non-null    float64
 4   bathroom_count  764 non-null    float64
 5   room_count      758 non-null    float64
 6   options         897 non-null    object
 7   description     896 non-null    object
 8   location        897 non-null    object
 9   date            706 non-null    object
 10  image_url       897 non-null    object
 11  agency          738 non-null    object
 12  url             897 non-null    object
 13  scrape_date     897 non-null    object
 14  category        897 non-null    object
dtypes: float64(4), object(11)
memory usage: 112.1+ KB
None
              price          size  bathroom_count  room_count
count  8.400000e+02    876.000000      764.000000  758.000000
mean   8.366222e+04    409.941781        2.837696    4.885224
std    7.236981e+05   1332.501443        4.612348    9.422773
min    1.100000e+01      1.000000        0.000000    0.000000
25%    1.400000e+03     80.000000        1.000000    2.000000
50%    2.500000e+03    120.000000        2.000000    3.000000
75%    6.000000e+03    250.000000        2.000000    5.000000
max    1.400000e+07  30000.000000       47.000000  130.000000
                                              title   price      type   size  \
4                                       Bureau  C11     NaN  √Ä Vendre   45.0
7                                    Bureau √† louer   690.0   √Ä Louer   75.0
10                       AL Bureau de 220m¬≤ au Lac2  5000.0   √Ä Louer  220.0
11                           AL Bureau 333m¬≤ - Lac2  7800.0   √Ä Louer  333.0
14  üìç NOUVELLE ARIANA : BUREAU H+3 SPACIEUX √Ä LOUER  1400.0   √Ä Louer  100.0

    bathroom_count  room_count options  \
4              NaN         NaN      []
7              1.0         2.0      []
10             4.0         6.0      []
11             4.0         8.0      []
14             1.0         3.0      []

                                          description location date  \
4   A vendre¬†\r\nBureau N¬∞C11 en 3√©me √©tage sis √† ...    tunis  NaN
7   REMAX masters propose un  bureau H+2 situ√© au ...   Sousse  NaN
10  L'agence Id√©al Immobilier vous propose √† la lo...    Tunis  NaN
11  L‚Äôagence Id√©al Immobilier vous propose √† la lo...    Tunis  NaN
14  L‚Äôagence #MON_RESEAU met √† la location des bur...   Ariana  NaN

                                            image_url                agency  \
4   https://www.tayara.tn/mediaGateway/resize-imag...  gest immo logistique
7   https://www.tayara.tn/mediaGateway/resize-imag...         remax masters
10  https://www.tayara.tn/mediaGateway/resize-imag...      id√©al immobilier
11  https://www.tayara.tn/mediaGateway/resize-imag...      id√©al immobilier
14  https://www.tayara.tn/mediaGateway/resize-imag...                   NaN

                                                  url scrape_date  \
4   https://www.tayara.tn/item/bureaux-et-plateaux...  2025-11-25
7   https://www.tayara.tn/item/bureaux-et-plateaux...  2025-11-25
10  https://www.tayara.tn/item/bureaux-et-plateaux...  2025-11-25
11  https://www.tayara.tn/item/bureaux-et-plateaux...  2025-11-25
14  https://www.tayara.tn/item/bureaux-et-plateaux...  2025-11-25

               category
4   Bureaux et Plateaux
7   Bureaux et Plateaux
10  Bureaux et Plateaux
11  Bureaux et Plateaux
14  Bureaux et Plateaux

In [260]:
# D√©finir les plages valides
rooms = data.room_count.between(1, 15)
bathrooms = data.bathroom_count.between(0, 10)
size = data['size'].between(20, 2000)

# Garder uniquement les lignes valides
dropped = data[(cats & ~(rooms & bathrooms & size))]
data.drop(dropped.index,inplace=True)
data.reset_index(drop=True, inplace=True)

In [261]:
# Nettoyage par cat√©gorie : Autre Immobilier

rows, cat = getByCategory(data, ['Autre Immobilier'])

printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Index: 968 entries, 27 to 7593
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           968 non-null    object
 1   price           793 non-null    float64
 2   type            968 non-null    object
 3   size            733 non-null    float64
 4   bathroom_count  581 non-null    float64
 5   room_count      574 non-null    float64
 6   options         968 non-null    object
 7   description     959 non-null    object
 8   location        968 non-null    object
 9   date            767 non-null    object
 10  image_url       968 non-null    object
 11  agency          482 non-null    object
 12  url             968 non-null    object
 13  scrape_date     968 non-null    object
 14  category        968 non-null    object
dtypes: float64(4), object(11)
memory usage: 121.0+ KB
None
              price          size  bathroom_count  room_count
count  7.930000e+02  7.330000e+02    5.810000e+02  574.000000
mean   1.265108e+09  1.344693e+08    1.923570e+03    2.106272
std    3.551096e+10  3.640602e+09    4.609676e+04    1.723727
min    2.500000e+00  0.000000e+00    1.000000e+00    1.000000
25%    1.500000e+03  6.400000e+01    1.000000e+00    1.000000
50%    2.500000e+04  1.110000e+02    1.000000e+00    2.000000
75%    3.200000e+05  2.200000e+02    2.000000e+00    3.000000
max    1.000000e+12  9.856556e+10    1.111111e+06   10.000000
                                                title      price      type  \
27  Local Commercial √† Cit√© Zouhour, Proche de Tou...    60000.0  √Ä Vendre
38                         √† vendre un FC  √† l'Aouina        NaN  √Ä Vendre
53  A louer Local Commercial - Art√®re principale M...     3000.0   √Ä Louer
78  Local de stokage de d√©p√¥t Garage sis au Lac 2 ...      500.0   √Ä Louer
86  vente immeuble commercial centre ville rentabi...  1700000.0  √Ä Vendre

    size  bathroom_count  room_count options  \
27  26.0             NaN         1.0      []
38  98.0             1.0         1.0      []
53  74.0             1.0         1.0      []
78  12.0             NaN         1.0      []
86   NaN             NaN         NaN      []

                                          description location        date  \
27  On vous propose un local commercial d'une supe...   Sousse  2025-11-25
38  √Ä Vendre : Fonds de commerce √† l‚ÄôAouina\n\nJe ...    Tunis  2025-11-25
53  La Maison de l‚Äôimmobilier vous propose √† la lo...    tunis         NaN
78  Local de stokage de d√©p√¥t Garage sis au Lac 2 ...    Tunis         NaN
86  ennasr homing met en vente un projet en place ...    Tunis  2025-11-25

                                            image_url  \
27  https://www.tayara.tn/mediaGateway/resize-imag...
38  https://www.tayara.tn/mediaGateway/resize-imag...
53  https://www.tayara.tn/mediaGateway/resize-imag...
78  https://www.tayara.tn/mediaGateway/resize-imag...
86  https://www.tayara.tn/mediaGateway/resize-imag...

                       agency  \
27                    new way
38                        NaN
53     maison de l'immobilier
78                        NaN
86  immobiliere ennasr homing

                                                  url scrape_date  \
27  https://www.tayara.tn/item/magasins%2c-commerc...  2025-11-25
38  https://www.tayara.tn/item/magasins%2c-commerc...  2025-11-25
53  https://www.tayara.tn/item/magasins%2c-commerc...  2025-11-25
78  https://www.tayara.tn/item/magasins%2c-commerc...  2025-11-25
86  https://www.tayara.tn/item/magasins%2c-commerc...  2025-11-25

            category
27  Autre Immobilier
38  Autre Immobilier
53  Autre Immobilier
78  Autre Immobilier
86  Autre Immobilier

In [262]:
data.drop(rows.index,inplace=True)
data.reset_index(drop=True, inplace=True)

In [263]:
# Nettoyage des prix

data.dropna(subset=['price'],inplace=True)
data.reset_index(drop=True, inplace=True)

In [264]:
dropped = data.price < 10
data.drop(data[dropped].index,inplace=True)
data.reset_index(drop=True, inplace=True)

In [265]:
forSale = data['type'] == '√Ä Vendre'
below10k = data['price'] < 10000
data.loc[forSale & below10k, 'price'] *= 1000

In [266]:
data.location.unique()

array(['Ariana', 'Mahdia', 'Sousse', 'Tunis', 'Nabeul', 'Ben Arous',
       'tunis', 'Zaghouan', 'La Manouba', 'Bizerte', 'sousse', 'Sfax',
       'Monastir', 'ariana', 'sfax', 'M√©denine', 'Gab√®s', 'Gafsa', 'B√©ja',
       'Kasserine', 'Kairouan', 'Tozeur', 'Jendouba', 'nabeul', 'mahdia',
       'Le Kef', 'Sidi Bouzid', 'ben-arous', 'Siliana', 'la-manouba',
       'monastir', 'gab√®s', 'jendouba', 'Tataouine'], dtype=object)

In [267]:
data['location'] = data['location'].str.lower()  # tout en minuscules
data['location'] = data['location'].str.replace('-', ' ')  # remplacer les tirets par des espaces
data['location'] = data['location'].str.strip()  # enlever les espaces en d√©but/fin

data['location'].unique()

array(['ariana', 'mahdia', 'sousse', 'tunis', 'nabeul', 'ben arous',
       'zaghouan', 'la manouba', 'bizerte', 'sfax', 'monastir',
       'm√©denine', 'gab√®s', 'gafsa', 'b√©ja', 'kasserine', 'kairouan',
       'tozeur', 'jendouba', 'le kef', 'sidi bouzid', 'siliana',
       'tataouine'], dtype=object)

In [268]:
data.drop(columns=['date'],inplace=True)
data.drop(columns=['scrape_date'],inplace=True)
data.drop(columns=['options'],inplace=True)
data.drop(columns=['description'],inplace=True)
data.drop(columns=['url'],inplace=True)
data.drop(columns=['image_url'],inplace=True)
data.drop(columns=['agency'],inplace=True)
data.drop(columns=['title'],inplace=True)

In [269]:
data.columns

Index(['price', 'type', 'size', 'bathroom_count', 'room_count', 'location',
       'category'],
      dtype='object')

In [270]:
data.drop_duplicates(keep='first', inplace=True)
data.reset_index(drop=True, inplace=True)

In [271]:
data['log_price'] = np.log10(data['price'])

In [272]:
data.to_csv("../data/clean/cleaned_data.csv", index=False)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load data
df = pd.read_csv("../data/clean/cleaned_data.csv")

print("=" * 70)
print("DATA QUALITY ANALYSIS")
print("=" * 70)

# Basic statistics
print(f"\nDataset shape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")

# Price statistics by type
print("\n" + "=" * 70)
print("PRICE STATISTICS BY TYPE")
print("=" * 70)

for prop_type in df['type'].unique():
    subset = df[df['type'] == prop_type]
    print(f"\n{prop_type} (n={len(subset)}):")
    print(f"  Min:     {subset['price'].min():,.0f} TND")
    print(f"  Q1:      {subset['price'].quantile(0.25):,.0f} TND")
    print(f"  Median:  {subset['price'].median():,.0f} TND")
    print(f"  Mean:    {subset['price'].mean():,.0f} TND")
    print(f"  Q3:      {subset['price'].quantile(0.75):,.0f} TND")
    print(f"  Max:     {subset['price'].max():,.0f} TND")
    print(f"  Std Dev: {subset['price'].std():,.0f} TND")

# Identify extreme outliers
print("\n" + "=" * 70)
print("EXTREME OUTLIERS (Top 10 highest prices)")
print("=" * 70)
extreme_outliers = df.nlargest(10, 'price')[['price', 'type', 'category', 'location', 
                                               'room_count', 'bathroom_count', 'size']]
print(extreme_outliers.to_string(index=False))

# Check for properties over 10 million
print(f"\n‚ö†Ô∏è  Properties over 10,000,000 TND: {(df['price'] > 10_000_000).sum()}")
print(f"‚ö†Ô∏è  Properties over 100,000,000 TND: {(df['price'] > 100_000_000).sum()}")
print(f"‚ö†Ô∏è  Properties over 1,000,000,000 TND: {(df['price'] > 1_000_000_000).sum()}")

# Visualization of price distribution
fig, axes = plt.subplots(2, 2, figsize=(14, 10))

# 1. Overall price distribution (with outliers)
for prop_type in df['type'].unique():
    subset = df[df['type'] == prop_type]['price']
    axes[0, 0].hist(subset, bins=50, alpha=0.6, label=prop_type)
axes[0, 0].set_xlabel('Price (TND)')
axes[0, 0].set_ylabel('Frequency')
axes[0, 0].set_title('Price Distribution (All Data)')
axes[0, 0].legend()
axes[0, 0].set_xlim(0, df['price'].quantile(0.99))

# 2. Log price distribution
for prop_type in df['type'].unique():
    subset = df[df['type'] == prop_type]['log_price']
    axes[0, 1].hist(subset, bins=50, alpha=0.6, label=prop_type)
axes[0, 1].set_xlabel('Log10(Price)')
axes[0, 1].set_ylabel('Frequency')
axes[0, 1].set_title('Log Price Distribution')
axes[0, 1].legend()

# 3. Box plot by type
df.boxplot(column='price', by='type', ax=axes[1, 0])
axes[1, 0].set_ylabel('Price (TND)')
axes[1, 0].set_title('Price Distribution by Type')
axes[1, 0].set_yscale('log')
axes[1, 0].get_figure().suptitle('')

# 4. Price vs Size scatter
for prop_type in df['type'].unique():
    subset = df[df['type'] == prop_type]
    axes[1, 1].scatter(subset['size'], subset['price'], alpha=0.5, label=prop_type, s=10)
axes[1, 1].set_xlabel('Size (sqm)')
axes[1, 1].set_ylabel('Price (TND)')
axes[1, 1].set_title('Price vs Size')
axes[1, 1].set_yscale('log')
axes[1, 1].set_xscale('log')
axes[1, 1].legend()

plt.tight_layout()
plt.show()

# RECOMMENDATION: Define reasonable price ranges
print("\n" + "=" * 70)
print("RECOMMENDED FILTERING THRESHOLDS")
print("=" * 70)

# Calculate IQR-based outlier detection
for prop_type in df['type'].unique():
    subset = df[df['type'] == prop_type]['price']
    Q1 = subset.quantile(0.25)
    Q3 = subset.quantile(0.75)
    IQR = Q3 - Q1
    
    # Standard outlier definition: Q1 - 1.5*IQR to Q3 + 1.5*IQR
    lower_fence = Q1 - 1.5 * IQR
    upper_fence = Q3 + 1.5 * IQR
    
    # More conservative: Q1 - 3*IQR to Q3 + 3*IQR
    lower_extreme = Q1 - 3 * IQR
    upper_extreme = Q3 + 3 * IQR
    
    outliers_iqr = ((subset < lower_fence) | (subset > upper_fence)).sum()
    outliers_extreme = ((subset < lower_extreme) | (subset > upper_extreme)).sum()
    
    print(f"\n{prop_type}:")
    print(f"  IQR method (1.5x): {lower_fence:,.0f} to {upper_fence:,.0f} TND")
    print(f"    Would remove: {outliers_iqr} properties ({outliers_iqr/len(subset)*100:.1f}%)")
    print(f"  Conservative (3x): {lower_extreme:,.0f} to {upper_extreme:,.0f} TND")
    print(f"    Would remove: {outliers_extreme} properties ({outliers_extreme/len(subset)*100:.1f}%)")

# Suggest reasonable market-based thresholds
print("\n" + "=" * 70)
print("SUGGESTED MARKET-BASED THRESHOLDS")
print("=" * 70)
print("\nBased on Tunisian real estate market:")
print("  √Ä Vendre: 10,000 to 10,000,000 TND (reasonable property range)")
print("  √Ä Louer:  100 to 50,000 TND (monthly rent range)")

# Apply suggested filters and show impact
print("\n" + "=" * 70)
print("IMPACT OF FILTERING")
print("=" * 70)

# Define filters
vendre_min, vendre_max = 10_000, 10_000_000
louer_min, louer_max = 100, 50_000

df_filtered = df.copy()
vendre_mask = (df_filtered['type'] == '√Ä Vendre') & \
              (df_filtered['price'] >= vendre_min) & \
              (df_filtered['price'] <= vendre_max)
louer_mask = (df_filtered['type'] == '√Ä Louer') & \
             (df_filtered['price'] >= louer_min) & \
             (df_filtered['price'] <= louer_max)

df_filtered = df_filtered[vendre_mask | louer_mask]

print(f"\nOriginal dataset: {len(df)} properties")
print(f"Filtered dataset: {len(df_filtered)} properties")
print(f"Removed: {len(df) - len(df_filtered)} properties ({(len(df) - len(df_filtered))/len(df)*100:.2f}%)")

print("\nBy type:")
for prop_type in df['type'].unique():
    original_count = (df['type'] == prop_type).sum()
    filtered_count = (df_filtered['type'] == prop_type).sum()
    removed = original_count - filtered_count
    print(f"  {prop_type}: {original_count} ‚Üí {filtered_count} (removed {removed}, {removed/original_count*100:.2f}%)")

# Save filtered dataset
df_filtered.to_csv('../data/clean/cleaned_data_filtered.csv', index=False)
print(f"\n‚úÖ Filtered dataset saved to '../data/clean/cleaned_data_filtered.csv'")

# Show new statistics
print("\n" + "=" * 70)
print("FILTERED DATA STATISTICS")
print("=" * 70)

for prop_type in df_filtered['type'].unique():
    subset = df_filtered[df_filtered['type'] == prop_type]
    print(f"\n{prop_type} (n={len(subset)}):")
    print(f"  Min:     {subset['price'].min():,.0f} TND")
    print(f"  Median:  {subset['price'].median():,.0f} TND")
    print(f"  Mean:    {subset['price'].mean():,.0f} TND")
    print(f"  Max:     {subset['price'].max():,.0f} TND")
    print(f"  Std Dev: {subset['price'].std():,.0f} TND")